@{
    ViewData["Title"] = "Wyniki wyścigów, następny wyścig";
}
<section id="next-race">
    <h2>Następny wyścig</h2>
    <p style="font-size: 1.3em">@ViewBag.NextRace.CircuitIdNavigation.Name</p>
    <p style="font-size: 1.3em">@ViewBag.NextRace.DateTime</p>
</section>
<section id="last-race">
    <h2>@DateTime.Now.Year @ViewBag.LastRaceCircuit</h2><br />
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Pozycja</th>
                <th scope="col">Imię</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Zespół</th>
                <th scope="col">Czas</th>
                <th scope="col">Punkty</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Results)
            {
            <tr>
                <td scope="row">@item.Position</td>
                <td>@item.DriverIdNavigation.Name</td>
                <td>@item.DriverIdNavigation.Lastname</td>
                <td>@item.TeamIdNavigation.Name</td>
                <td>@if(item.Time != null) @item.Time.ToString("hh':'mm':'ss':'fff") else @item.ResultTypeIdNavigation.Name</td>
                <td>@item.Points</td>
            </tr>
            }

        </tbody>
    </table>
</section>
<section id="drivers">
    <h2>Kierowcy @DateTime.Now.Year</h2><br />

    <p>
        <!-- <a asp-action="Create">Create New</a>-->
    </p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    Imię
                </th>
                <th scope="col">
                    Nazwisko
                </th>
                <th scope="col">
                    Data urodzenia
                </th>
                <th scope="col">
                    Kraj
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Drivers)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Lastname
                    </td>
                    <td>
                        @item.DateOfBirth.ToShortDateString()
                    </td>
                    <td>
                        @item.CountryIdNavigation.Name
                    </td>
                    <!--
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.DriverId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.DriverId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.DriverId">Delete</a>
                    </td>
                    -->
                </tr>
            }
        </tbody>
    </table>
</section>