@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["IndexTitle"];
}
<section id="next-race">
    <h2>@localizer["NextRace"]</h2>
    <p style="font-size: 1.3em">@ViewBag.NextRace.CircuitIdNavigation.Name</p>
    <p style="font-size: 1.3em">@ViewBag.NextRace.DateTime</p>
</section>
<section id="last-race">
    <h2>@DateTime.Now.Year @ViewBag.LastRaceCircuit</h2><br />
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">@localizer["Position"]</th>
                <th scope="col">@localizer["Driver"]</th>
                <th scope="col">@localizer["Team"]</th>
                <th scope="col">@localizer["Time"]</th>
                <th scope="col">@localizer["Points"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Results)
            {
            <tr>
                <td scope="row">@item.Position</td>
                <td>@item.DriverIdNavigation.Name @item.DriverIdNavigation.Lastname</td>
                <td>@item.TeamIdNavigation.Name</td>
                <td>@if(item.Time != null) @item.Time.ToString("hh':'mm':'ss':'fff") else @item.ResultTypeIdNavigation.Name</td>
                <td>@item.Points</td>
            </tr>
            }

        </tbody>
    </table>
</section>
<section id="drivers">
    <h2>@DateTime.Now.Year @localizer["Drivers"]</h2><br />

    <p>
        <!-- <a asp-action="Create">Create New</a>-->
    </p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    @localizer["Name"]
                </th>
                <th scope="col">
                    @localizer["Surname"]
                </th>
                <th scope="col">
                    @localizer["Date of birth"]
                </th>
                <th scope="col">
                    @localizer["Country"]
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Drivers)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Lastname
                    </td>
                    <td>
                        @item.DateOfBirth.ToShortDateString()
                    </td>
                    <td>
                        @item.CountryIdNavigation.Name
                    </td>
                    <!--
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.DriverId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.DriverId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.DriverId">Delete</a>
                    </td>
                    -->
                </tr>
            }
        </tbody>
    </table>
</section>