@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;
@{
    ViewData["Title"] = localizer["Standings"];
    int i = 1;
}

<section id="drivers-standings">
    <h2>@localizer["Driver standings"]</h2><br />

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    @localizer["Position"]
                </th>
                <th scope="col">
                    @localizer["Name"]
                </th>
                <th scope="col">
                    @localizer["Last name"]
                </th>
                <th scope="col">
                    @localizer["Points"]
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.DriverStandings)
            {
                <tr>
                    <td>
                        @(i++)
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Lastname
                    </td>
                    <td>
                        @item.Points
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>
<section id="teams-standings">
    <h2>@localizer["Constructor standings"]</h2><br />

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    @localizer["Position"]
                </th>
                <th scope="col">
                    @localizer["Team"]
                </th>
                <th scope="col">
                    @localizer["Points"]
                </th>
            </tr>
        </thead>
        <tbody>
            @{i = 1;}
            @foreach (var item in ViewBag.TeamsStandings)
            {
                <tr>
                    <td>
                        @(i++)
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Points
                    </td>
                </tr>

            }
        </tbody>
    </table>
</section>