@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Teams"];
}

<section id="teams">
    <h2>@localizer["Teams"]</h2><br />

    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    @localizer["Name"]
                </th>
                <th scope="col">
                    @localizer["Country"]
                </th>
                <th scope="col">
                    @localizer["Engine supplier"]
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Teams)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.CountryIdNavigation.Name
                    </td>
                    <td>
                        @item.EngineSupplier
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>